
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div> 
        <h1>Yeni kategori ekle</h1>
        <br />

    </div>
</body>
</html>
