
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Index</title>

</head>
<body>
    <div class="container">
    <h3>Mvc Kamp Tablo Örneği</h3>
    <table table border="1" cellpadding="10">
            <tr>
                <th>Kategori Id</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>
            <tr>
                <td></td>
            </tr>
               
    </table>
        </div>
</body>
</html>
