
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    

    table, th , td {
    border: 1px solid black;
    }
    
</head>
<body>
    <h3>Mvc Kamp Tablo Örneği</h3>
    <table table border="1" cellpadding="10">
            <tr>
                <th>Kategori Id</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>
            <tr>
                <td></td>
            </tr>
               
    </table>
</body>
</html>
